<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.receipty.server</string>
    <key>ProgramArguments</key>
    <array>
        <string>--serve</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>RECEIPTY_LOG</string>
    <key>StandardErrorPath</key>
    <string>RECEIPTY_LOG</string>
    <key>WorkingDirectory</key>
    <string>RECEIPTY_PROJECT</string>
</dict>
</plist>
